
.banner .swiper-button-next {
    color: #ffffff;

}

.banner .swiper-button-prev {
    color: #ffffff;
}


@media screen and (max-width: 600px){
    .banner .swiper-button-next {
    display:none;

}

.banner .swiper-button-prev {
        display:none;

}
}

/* Bolinhas de paginação padrão */
.banner .swiper-pagination-bullet {
    background: #ffffff; /* Cor padrão das bolinhas */
    opacity: 0.5; /* Transparência */
}

/* Bolinha ativa */
.banner .swiper-pagination-bullet-active {
    background: #ffffff; 
    opacity: 1; 
}
